<!DOCTYPE html>
<html>
<head>
	<title>报告生成</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../static/css/cs1.css">
</head>
<body>
	课程：<input type="text" placeholder="请输入课程名称" id="kechen"/><br/>
	课次：<input type="text" placeholder="请输入课次信息" id="keci"/><br/>
	课次内容：<input type="text" placeholder="请输入上课内容" id="content"/><br/>
	知识点：<input type="text" placeholder="请输入知识点" id="zsd"/><br/>
	班级：<input type="text" placeholder="请输入班级名称" id="banji"/><br/>
	上课人数：<input type="text" placeholder="请输入上课人数" id="num"/><br/>
	班级之星：<input type="text" placeholder="请输入班级之星名称" id="xueyuan"/><br/>
	优秀表现：<input type="text" placeholder="请输入优秀学员表现" id="biaoxian"/><br/>
	<button id="gen">一键生成</button>
</body>
<script type="text/javascript" src="/static/js/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/report.js"></script>
</html>